h1 {
    text-align: center;
}
span {
    border-bottom: 2px solid black;
    margin: 10px 5px;
    font-size: 5rem;
}

div {
    margin: 0 auto;
    text-align: center;
}

#Galg {
    width: 60%;
    height: 400px;
    border: 1px solid black;
    margin: 50px auto;
}